*.iml
.gradle
local.properties
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/.idea
*.iws
/local.properties
app/build
app/app.iml
app.iml
basecore/build
basecore/basecore.iml
basecore.iml
